@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?l5nb9l");
  src: url("fonts/icomoon.eot?l5nb9l#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?l5nb9l") format("truetype"),
    url("fonts/icomoon.woff?l5nb9l") format("woff"),
    url("fonts/icomoon.svg?l5nb9l#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RP-Webfont_Headphones:before {
  content: "\e914";
  color: $white;
}
.icon-RP-Webfont_Pause:before {
  content: "\e912";
  color: $white;
}
.icon-RP-Webfont_Play:before {
  content: "\e913";
  color: $white;
}
.icon-RP-Webfont_FAQ-Close:before {
  content: "\e900";
  color: $white;
}
.icon-RP-Webfont_FAQ-Open:before {
  content: "\e901";
  color: $white;
}
.icon-RP-Webfont_Search:before {
  content: "\e902";
  color: $white;
}
.icon-RP-Webfont_Download-Solid:before {
  content: "\e903";
  color: $white;
}
.icon-RP-Webfont_Share-Solid:before {
  content: "\e904";
}
.icon-RP-Webfont_Close:before {
  content: "\e905";
  color: $white;
}
.icon-RP-Webfont_Volume:before {
  content: "\e906";
  color: $white;
}
.icon-RP-Webfont_Volume-Slider:before {
  content: "\e907";
  color: $white;
}
.icon-RP-Webfont_Stations-Arrow:before {
  content: "\e908";
  color: $white;
}
.icon-RP-Webfont_Help-Solid:before {
  content: "\e909";
  color: $white;
}
.icon-RP-Webfont_Help-Outline:before {
  content: "\e90a";
  color: $white;
}
.icon-RP-Webfont_Pause-Outline:before {
  content: "\e90b";
  color: $white;
}
.icon-RP-Webfont_Play-Outline:before {
  content: "\e90c";
  color: $white;
}
.icon-RP-Webfont_Play-Negative:before {
  content: "\e90d";
  color: $white;
}
.icon-RP-Webfont_Pause-Negative:before {
  content: "\e90b";
  color: $white;
}
.icon-RP-Webfont_Listen-Back:before {
  content: "\e90e";
  color: $white;
}
.icon-RP-Webfont_Website:before {
  content: "\e90f";
  color: $white;
}
.icon-RP-Webfont_Download:before {
  content: "\e910";
}
.icon-RP-Webfont_Share:before {
  content: "\e911";
  color: $white;
}
